{% load static %}
<!DOCTYPE html>
<html lang="eng">
<head>
<title>Student Management System</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" />
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >

<body class="d-flex flex-column min-vh-100">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <i class="fa-solid fa-graduation-cap fa-lg me-2"></i>Students Management System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor04">
      <ul class="navbar-nav me-auto">
        {% comment %} <li class="nav-item">
          <a class="nav-link active" href="#">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li> {% endcomment %}
        <li class="nav-item">
          <a class="nav-link" href="#">
          <i class="fa-solid fa-list fa-lg me-1 ms-4"></i>All Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
          <i class="fa-solid fa-plus fa-lg me-1 ms-4"></i>Add Student</a>
        </li>
        
        
      </ul>
      {% comment %} <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form> {% endcomment %}
    </div>
  </div>
</nav>
<div class="container-fluid">
 <h2 class="m-4">All Students</h2>
  <div class="row">
    <div class="col-12">
    {% if students %}
     <div class="card bg-light me-4 mb-4">
        <div class="card-header">
        <i class="fa-solid fa-list fa-lg me-1 ms-4"></i>Students Records
        </div>
         <div class="card-body">
           <p class="card-text">
           <div class="table-responsive">
               <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Student Number</th>
      <th scope="col">Firs Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Field of Study</th>
      <th scope="col">GPA</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
    <tr>
    <td>{{ student.student_number }}</td>
    <td>{{ student.first_name }}</td>
    <td>{{ student.last_name }}</td>
    <td>{{ student.email }}</td>
    <td>{{ student.field_of_study }}</td>
    <td>{{ student.gpa }}</td>
    <td>
    <button type="button" class="btn btn-success me-1" href="{% url 'view_student' student.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{student.id}}">
    <i class="fa-solid fa-circle-info fa-lg"></i>
    </button>

            <!--model -view student--->
   <div class="modal" id="myModal{{student.id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
        Student:  {{ student.first_name }}   {{ student.last_name }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-unstyled">
        <li>Student Number: <strong>{{ student.student_number }}</strong></li>
        <li>First Name: <strong>{{ student.first_name }}</strong></li>
        <li>Last Name: <strong>{{ student.last_name }}</strong></li>
        <li>Email: <strong>{{ student.email }}</strong></li>
        <li>Field of Study: <strong>{{ student.field_of_study }}</strong></li>
        <li>GPA: <strong>{{ student.gpa }}</strong></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


    </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
           </div>
           </p>
        </div>
       </div>
    {% else %}
    <h3 class="alert alert-primary ms-4 me-4">No Students Records</h3>
    {% endif %}
      
    </div>
  </div>
</div>
<footer class="mt-auto mb-4">
   <div class="text-center">
  <span>
  copyright &copy; <script>document.write(new Date().getFullYear())</script>za's programming hub
  </span>
   </div>
<?footer>   
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</head>
</html>